/* NEWS */
#news {
  padding: 30px;
}

.news-top {
  text-align: center;
  padding: 40px;
  font-family: 'Diplomata SC', cursive;
}

.container-sm {
  margin: 0 50px;
}

.news {
  margin: 30px 0;
  color: #183a37b8;
  font-family:'Comfortaa', cursive;
}

.news1 {
  background-image: url("https://images.unsplash.com/photo-1602312771175-0a4f1f0f6214?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 200px
}

.news2 {
  background-image: url("https://images.unsplash.com/photo-1587306433556-18d035a3ed97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 200px
}

.news3 {
  background-image: url("https://images.unsplash.com/photo-1510267222691-b90c3f0494d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 200px
}

.news4 {
  background-image: url("https://images.unsplash.com/photo-1619962992057-be492a5816f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 200px;
}

.news5 {
  background-image: url("https://images.unsplash.com/photo-1508057198894-247b23fe5ade?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 200px
}

.news6 {
  background-image: url("https://images.unsplash.com/photo-1513885535751-8b9238bd345a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 200px
}

.button a {
  background: #eee;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #183a37b8;;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  z-index:0;
}
.button a:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: #aeaeae;
  transition: .3s;
  left:0;
}
.button a:hover {
  color: #FFF;
}
.button a:hover:before {
  width: 100%;
  z-index: -1;
}

@media screen and (max-width: 900px){
  .news-top {
    padding: 20px;
  }
  .news-top h2 {
    font-size: 18px;
  }
}